$black: #000
$gray: #eee
$white: #FFF
$link: #a93583
$red: $link

$pullout_width: 240px

// http://style.cleverchimp.com/font_size_intervals/altintervals.html
// using 16 ppem
$xx_small: 9px
$x_small: 10px
$small: 12px
$medium: 14px
$large: 19px
$x_large: 24px
$xx_large: 32px

=rotate($length)
  :-webkit-transform rotate($length)
  :-moz-transform rotate($length)
  :-ms-transform rotate($length)

=rounded($radius: 2px)
  :-webkit-border-radius $radius
  :-moz-border-radius $radius
  :border-radius $radius

=shadow($color: hsla(0, 0%, 0%, 0.4))
  :-webkit-box-shadow 0px 0px 5px $color
  :-moz-box-shadow 0px 0px 5px $color
  :box-shadow 0px 0px 5px $color
  html.ie8 &, html.ie7 &, html.ie6 &
    :border solid 1px #ccc

=inset_shadow($color: hsla(0, 0%, 0%, 0.3), $width: 3px)
  :-webkit-box-shadow 0px 0px $width $color inset
  :-moz-box-shadow 0px 0px $width $color inset
  :box-shadow 0px 0px $width $color inset

=opacity($value)
  :opacity $value
  :filter alpha(opacity = $value*100)

body
  :text-align center
  :background-color $white
  :background $white url('/images/bg.jpg')
  :color $black

body, input, textarea, select, option
  :font-family 'helvetica neue', 'book antiqua', helvetica, arial, sans-serif
  :font-size $medium
  :font-weight 300

input:focus, textarea:focus, select:focus, a:focus, a:active
  :outline-color $link

a
  :color $link
  :text-decoration none
  :outline none
  &:hover
    :text-decoration underline
  img
    :border none

h1, h2, h3, h4, h5, h6
  :text-transform uppercase
  :font-weight 300

p
  :line-height 160%

label[for]
  :cursor pointer

form.formtastic
  ol
    :list-style-type none
    :padding 0px
    :margin 0px
    li
      :margin 0.5em 0px
  fieldset
    :border none
    :margin 0px
    :padding 0px
  label
    :display inline-block
    :width 25ex
    :padding-right 1ex
  abbr[title=required]
    :font-size $x_small
    :color $red
    :margin-left 0.5ex
  li.text
    label
      :margin-top 7px
    textarea
      :vertical-align top
  li.date, li.time
    legend
      :display none
    ol li
      :display inline
      & + li label
        :display none
  fieldset.buttons ol
    :margin-left 26ex
  li.error
    label
      :color $link
    input, textarea
      +inset_shadow($red)
    p.inline-errors
      :color $link
      :margin 0px 0px 0px 26ex

input[type=text], input[type=email], input[type=tel], textarea, select
  :padding 6px
  :margin 0px
  :font-size $medium
  :border solid 1px hsla(0, 0%, 0%, 0.3)
  +inset_shadow
  +rounded

input[type=submit]
  +rounded(4px)
  +inset_shadow
  :border solid 1px hsla(0, 0%, 0%, 0.4)
  :border-top-color hsla(0, 0%, 0%, 0.2)
  :border-left-color hsla(0, 0%, 0%, 0.2)
  :padding 0.25em 0.5em
  :background-color $link
  :background-image -webkit-gradient(linear, left top, left bottom, from(hsla(0, 100%, 100%, 0.6)), to(hsla(0, 100%, 100%, 0.3)))
  :background-image -moz-linear-gradient(hsla(0, 100%, 100%, 0.6), hsla(0, 100%, 100%, 0.3))
  :color $white
  :text-shadow 0px 1px 0px hsla(0, 0%, 0%, 0.5)
  :font-size $large
  :cursor pointer
  :-webkit-transition -webkit-box-shadow 100ms ease-in
  :-moz-transition -moz-box-shadow 100ms ease-in
  &:hover
    +shadow($link)
  &:active
    :background-image -webkit-gradient(linear, left bottom, left top, from(hsla(0, 100%, 100%, 0.6)), to(hsla(0, 100%, 100%, 0.3)))
    :background-image -moz-linear-gradient(90deg, hsla(0, 100%, 100%, 0.6), hsla(0, 100%, 100%, 0.3))

body
  :background-color #f6f6f9

#content, #footer
  :width 900px
  :margin 0px auto
  :text-align left

#content
  :padding 20px
  :border solid 1px #ccc
  :background-color #fcfcfc
  :background-color hsla(0, 0%, 98%, 0.7)
  :background hsla(0, 0%, 100%, 0.5) -webkit-gradient(radial, 50% 30, 100, 50% 50, 500, from(hsla(0, 0%, 100%, 0.3)), to(hsla(0, 0%, 60%, 0.2)))
  :background hsla(0, 0%, 100%, 0.5) -moz-radial-gradient(50% 30px, hsla(0, 0%, 100%, 0.3), hsla(0, 0%, 60%, 0.2))
  +rounded

html.ie8, html.ie7, html.ie6
  #content
    :background-image url('/images/bg_light.jpg')

#header, #nav
  :font-family 'raleway', 'helvetica neue', helvetica, arial, sans-serif
  :text-align center

#header
  a:hover
    :text-decoration none
  h1
    :word-spacing -0.5ex
    :font-size $xx_large
    :text-shadow 0px 0px 2px hsla(0, 0%, 0%, 0.3)
    :color #666
    .tagline
      :word-spacing 0px
      :font-size $small
      :margin-bottom 0.5em
      :margin-left 130px
    a
      :color #666
    b
      :color $link

#nav ul
  :list-style-type none
  :padding 0px
  :text-transform uppercase
  :color $link
  a
    :color $black
    :-webkit-transition color 200ms ease-out
    :-moz-transition color 200ms ease-out
    &:hover
      :color $link
  li
    :display inline
    :padding 0px 1em 0px
  .social
    a
      :padding 0px
    img
      :width 20px
      :height 20px
      :margin-bottom -2px
      &.yelp
        :width 16px

#page
  :clear both
  :padding 2em 10px
  :text-shadow 0px 1px 0px hsla(0, 100%, 100%, 0.5)
  .pullout
    :float right
    :width $pullout_width - 20px
#footer
  :font-size $small
  :padding 1em 10px
  .where
    :float right

.clear
  :clear both

a.thumb
  img
    :width 75px
    :height 75px
    :border solid 2px $white
  &.selected img
    :border-color $link
    :-webkit-transition border-color 200ms linear
    :-moz-transition border-color 200ms linear
#portrait
  :position relative
  img
    :position absolute
    :border solid 5px $white
    +shadow

body
  :overflow-y scroll

body.index-index
  #header
    h1
      :font-size 72px
      .tagline
        :margin-left 455px
    #nav
      :font-size 18px
  .portfolio
    :text-align center
    a
      :display inline-block
      :background-color $white
      :padding 5px
      :margin 0px auto
      +shadow
      +rotate(1deg)
      &:first-child
        +rotate(-1deg)
      &:hover
        :text-decoration none
    h3
      :font-family 'Rock Salt'
      :margin 0px
    img
      :border solid 1px hsla(0, 0%, 0%, 0.2)
      +rounded(2px)
  #footer
    :text-align left

body.index-portfolio
  #page
    :min-height 420px
  #portrait
    :margin-right $pullout_width
  .pullout
    :text-align center
  ul
    :list-style-type none
    :margin 0px
    :padding 0px
  .sets
    :margin 0px auto
    h3
      :position relative
    a.back
      :display none
      :position absolute
      :left 0px
      :font-size $small
      :margin-top $large - $small - 1
    .title
      :display inline-block
      :width 6em
    ul
      :overflow auto
    ::-webkit-scrollbar
      :width 8px
      :height 8px
    ::-webkit-scrollbar-thumb:vertical
      :background-color hsla(0, 0%, 0%, 0.2)
      :-webkit-border-radius 8px
  .set.closed, li.spacer
    :position relative
    :display inline-block
    :width 79px
    :height 130px
    :margin 5px
    :overflow show
    :vertical-align top
    li
      :position absolute
      :top 0px
      :left 0px
    h4
      :text-transform none
      :margin-top 85px
      :width 79px
      :overflow hidden
      :text-overflow ellipsis
  .set.open
    li
      :position static
      :display inline-block
      :margin 5px
    h4
      :display none

html.ie7, html.ie6
  body
    :overflow-y auto

body.contacts-new, body.contacts-create
  #address
    p
      :line-height 125%
  input[type=text], input[type=email], input[type=tel], textarea, p.demand
    :width 50ex
  textarea
    :height 12em
  p.demand
    :margin-left 26ex

body.contacts-show #page
  :text-align center

body.index-about
  #page img
    :float left
    :border solid 5px $white
    +rotate(-2deg)
    +shadow
  p
    :margin-left 330px
    :text-align justify
    :margin-right 35px

body.index-services
  #page
    :position relative
    :width 60%
    :margin 0px auto
  h2
    :color $link
    :font-size 1.25em
    .location
      :text-transform none
    .price
      :color $black
  ul
    :list-style-type none
    :padding-left 20px
  li
    :margin 0.25em 0px
    :line-height 125%
  .price
    :position absolute
    :right 0px
    :text-transform none
    :display none
  .details ul
    :font-size $small
    :padding-left 0px
    :margin-left 0px
  #page
    h1, h2, h3, li
      :border-bottom dotted 1px transparent
      :-webkit-transition border-bottom 100ms linear
      :-moz-transition border-bottom 100ms linear
    //
      &:hover
        :border-bottom-color hsla(0, 0%, 0%, 0.2)

body.index-error
  #page
    :text-align center
    h1
      :font-size $xx_large
