!black = #000
!gray = #ccc
!white = #FFFFF1
!link = #8FB87F

!pullout_width = 240px

=rounded(!radius = 2px)
  :-webkit-border-radius = !radius
  :-moz-border-radius = !radius

=shadow
  :-webkit-box-shadow -5px 5px 10px rgba(0, 0, 0, 0.4)
  :-moz-box-shadow -5px 5px 10px rgba(0, 0, 0, 0.4)

body
  :text-align center
  :background-color = !black
  :color = !white

body, input, textarea
  :font-family 'helvetica neue', tahoma, helvetica, arial, sans-serif
  :font-weight lighter
  :font-size 12pt

a
  :color = !link
  :text-decoration none
  &:hover
    :text-decoration underline

h1, h2, h3
  :font-weight 100

p
  :line-height 160%

label
  :cursor pointer

input[type=text], textarea
  :padding 6px
  :font-size 14pt

input[type=submit]
  +rounded
  :border solid 1px #{!link + #333}
  :border-top-color #{!link + #ccc}
  :border-left-color #{!link + #ccc}
  :background-color = !link
  :background -webkit-gradient(linear, left top, left bottom, from(#{!link+#999}), to(#{!link+#666}))
  :color = !white
  :text-shadow #666 0px 1px
  :font-size 18pt
  &:active
    :background -webkit-gradient(linear, left bottom, left top, from(#{!link+#999}), to(#{!link+#666}))

#content
  :width 900px
  :margin 0px auto
  :text-align left
ul#nav
  :list-style-type none
  :padding 0px
  :margin 0px
  :position relative
  a
    :color = !white
    :padding 60px 20px 10px 10px
  h1, li
    :line-height 32pt
  h1
    :position absolute
    :right 0px
    :width = !pullout_width
    :word-spacing -0.4ex
    :margin 0px
    a
      :display inline-block
  li
    :font-size 18pt
    :display inline
    a
      +shadow
      :float left
      :text-shadow #666 0px 1px
      :color = !gray
      :text-decoration none !important
      :border-bottom solid 2px transparent
      &.selected, &:hover
        :border-bottom-color = !link
        :color = !white
      &:hover
        :-webkit-transition
          :property border-bottom-color, color
          :duration 200ms
      &.about
        :background url('/images/about.png') no-repeat
      &.blog
        :background url('/images/blog.png') no-repeat
      &.contact
        :background url('/images/contact.png') no-repeat
      &.home
        :background url('/images/home.png') no-repeat
      &.portfolio
        :background url('/images/portfolio.png') no-repeat
#page
  :clear both
  :background-color rgba(100, 100, 100, 0.2)
  :background rgba(100, 100, 100, 0.2)
  :padding 2em 10px
  :text-shadow #333 0px 1px
  .pullout
    :float right
    :width = !pullout_width - 20px

.clear
  :clear both

body.index-about
  #page
    :padding 2em 100px
  p
    :text-align justify
    :margin-top 0px

body.contacts-new
  #address
    p
      :font-size = 14pt
    .phone
      :font-size = 16pt
  input[type=text], textarea
    :width 500px
    :opacity 0.9
  textarea
    :height 12em

body.index-portfolio
  a.thumb
    img
      :width 75px
      :height 75px
      :border solid 2px transparent
    &.selected img
      :border-color = !link
      :-webkit-transition border-color 200ms linear
  #portrait
    :position relative
    :margin-right = !pullout_width
    img
      :position absolute
      :border solid 5px #{!white}
      +shadow

body.posts-index
  .body
    :margin-bottom 2em

body.posts-new, body.posts-edit
  #page
    :margin-right = !pullout_width
  input[type=text], textarea
    :width 100%
