- content_for :title, 'about'

:markdown
  Hello, my name is Jane Kim. I'm a native of Los Angeles and more recently
  became a transplant to beautiful San Francisco. Though Los Angeles will
  always hold a place in my heart, I am in love with San Francisco and
  everything this city has to offer. I currently live with my boyfriend Visnu
  and our lazy dog, Choco, and whiny cat, Unagi. I’ve been a freelance make
  up artist for the past 9 years working with lines such as Chanel and Calvin
  Klein Color. My recent work has been primarily in the bridal industry
  helping brides enhance their beauty for their most memorable day... their
  wedding day.

  This site ([www.theglamourist.com](http://www.theglamourist.com)) has been
  designed to keep you informed of my latest work, experiences, stories and as
  an avenue to view portfolio.  So for the latest news on what’s happening in
  the life of theglamourist, please check back regularly!

  --Jane
