- content_for :title, 'about'

= image_tag 'jane.png'

:markdown
  I love empowering women through beauty.  

  The best part of my job is when I unveil a look to my clients.  As they stare
  in disbelief by their own reflection and thank me for a miraculous job well
  done.  Only, I am not a magician.  I am not a surgeon.  I am not miracle
  worker.  I see the beauty in people and enhance what beautiful features they
  have already been blessed with.   

  I also love puppies... I really love puppies... and makeup.. lots and lots of
  makeup.

  The most beautiful face in this world? It's yours - Estee Lauder

  Thank you for visiting.

.clear
