- content_for :title, 'About'

= image_tag @photo['images'].first['source']

article
  markdown:
    I love empowering women through beauty.

    I'm a free spirit who finds pleasure in the simple things: a good cup of
    coffee, crusty bread, stiff cocktails, and Sunday brunch. I would rather be
    in search of the perfect pizza in Rome than visiting the Colosseum. I'm an
    extroverted introvert and I don't wear heels or eyeshadow in the afternoon.

    I also love puppies... and makeup... *lots* and lots of makeup.

    Thank you for visiting!
