- content_for :title, 'portfolio'

.pullout
  %ul.sets
    - @sets.each do |s|
      %li
        %ul.set.closed
          - s['photos'].reverse.each do |p|
            %li
              %a.thumb{ :href => p['href'], :id => p['id'] }
                = image_tag p['src']
        %h4
          %a{ :href => "##{s['id']}" }= s['title']

#portrait

.clear
