- content_for :title, 'portfolio'

.pullout
  %ul.sets
    %h3
      %a.back{ :href => '#' } &laquo; Back
      %span.title Choose a set below
    - @sets.each do |s|
      %li.set.closed
        %h4
          %a{ :href => "##{s['id']}" }= s['title']
        %ul
          - s['photos'].each_with_index do |p, i|
            %li{ :style => "z-index: -#{i};" }
              %a.thumb{ :href => p['href'], :id => p['id'] }
                = image_tag p['src']
          - if s['photos'].size.odd?
            %li.spacer{ :style => "z-index: -#{s['photos'].size};" }
  .clear

#portrait

.clear
