- content_for :title, 'portfolio'

.pullout
  - @photos.each do |p|
    = link_to image_tag(p[:src]), "http://flickr.com#{p[:href]}", :class => 'thumb', :id => p[:id]

#portrait

.clear

:javascript
  $(document).ready(function() {
    var loadPortrait = function(link) {
      var src = $(link)
        .siblings()
          .removeClass('selected')
          .end()
        .addClass('selected')
        .find('img').attr('src').replace(/_s.jpg$/, '.jpg');
      var img = $('<img>')
        .load(function() {
          var portrait = $('#portrait'),
              rotation = 'rotate(' + ((Math.random() * 30)-15) + 'deg)';
          var top = $(window).scrollTop() + 50 - portrait.offset().top;
          if (top < 0) top = 0;

          var left = portrait.find('img');
          left.filter(':lt(' + (left.length-3) + ')').fadeOut(function() {
            $(this).remove();
          });

          $(this)
            .hide()
            .appendTo(portrait)
            .css({
              position: 'absolute',
              top: top + Math.random() * 50,
              left: (portrait.width() - $(this).width())/2,
              '-webkit-transform': rotation,
              '-moz-transform': rotation
            })
            .fadeIn('fast');
        })
        .attr('src', src);
    };

    if (window.location.hash)
      loadPortrait('a.thumb#' + window.location.hash.substring(2));
    else
      loadPortrait('a.thumb:first');

    $('a.thumb')
      .attr('href', function() { return '#x' + $(this).attr('id'); })
      .click(function(e) {
        loadPortrait(this);

        e.stopPropagation();
      });
  });
