- content_for :title, 'portfolio'

:markdown
  - Bridal Makeup
  - Bridal Hairstyling
  - Engagement shoots
  - Photo Shoots
  - Pageants 
  - Editorials
  - Print
  - Commercials
  - Fashion Shows
  - Eye brow grooming
  - Threading
  - Image Consulting
  - Makeup lessons (group or individual)
