- content_for :title, 'services'

:markdown
  - bridal makeup
  - bridal hairstyling
  - engagement shoots
  - photo shoots
  - pageants 
  - editorials
  - print
  - commercials
  - fashion shows
  - eye brow grooming
  - threading
  - image consulting
  - makeup lessons (group or individual)
