- content_for :title, 'services'

:markdown
  ### COMMERCIAL INQUIRIES PROVIDED UPON REQUEST

  ## BRIDAL - ON LOCATION

  ### DAY-OF PACKAGE <span class="price">450</span>

   - Bridal hair & makeup application
   - Touch up kit, faux eyelash application
   - Airbrushed foundation (optional)
   - Eyebrow grooming

  ### GLAMOUR PACKAGE <span class="price">1150</span>

   The ultimate bridal pampering package, includes:

   - Trial Session (3hrs) - consultation, makeup & hair application
   - Wedding day makeup & hair application
   - Eyebrow grooming
   - Airbrushed foundation (optional)
   - Touchup & personal attendant services (5 hours)
   - Makeup & hair style change (optional)

  ### BRIDAL PARTY <span class="price">95 / service</span>

  ### JR. BRIDESMAIDS/FLOWER GIRLS (3-15) <span class="price">60 / service</span>

  ## IN-STUDIO

  ### Trial Session <span class="price">200</span>
  Consultation, makeup & hair application (3 hours)

  ## ADDITIONAL SERVICES

   - Engagement/Rehearsal hair & makeup <span class="price">200+</span>
   - Touchups <span class="price">150 / hr</span>
   - Faux eyelash application <span class="price">15</span>
   - Tattoo coverage <span class="price">75+</span>
   - Extensions (clip-ons)<br/>
     Available for both rental and purchase.<br/>
     We only use virgin human hair and purchase starts at $350.
   - Parking (billed to room) <span class="price">Valet rate</span>
   - Assistance Fee <span class="price">75 / assistant</span><br/>
     An assistant is required for 10+ book services

  ## OTHER SERVICES

  - Boudoir <span class="price">300</span>
  - Makeup Lessons <span class="price">150 / hour</span><br/>
    Group (2+ persons) <span class="price">Upon Request</span>

  ## Travel Fees
  (Beyond 25 mile radius from 94107)

  - East Bay & Marin counties <span class="price">30+</span>
  - Napa, Sonoma (south), Solano counties <span class="price">50</span>
  - Sonoma (north), Santa Cruz <span class="price">75</span>
  - Monterey & Southern California <span class="price">100</span>

  ## Special Events

  Tells us about your event! Whether it’s a bachelorette party, bridal shower,
  bah mtizvah, prom, or want to pamper your family & friends, there is no
  event that is too big nor too small. We will tailor a package to fit your
  needs.  

  * A signed contract and a non-refundable deposit of 50% is required to
  reserve a date.
  * Final balance must be collected seven (7) days prior to event date.
  * Trial sessions are limited to one look for hair and makeup.  
  * If you are more than 15 minutes late for your appointment(s) it may be
  cancelled or a late fee of $15 will be charged for every 15 minutes that have
  elapsed. Late fee will be collected once the service has been rendered.
  * For Destination Weddings, only Glamour Package is available.
