markdown:
  Thanks! We'll get back to you shortly.
  --------------------------------------

  We try to respond promptly, but due to the high volume of inquiries, please
  allow up to 72 hours for a reply.
