@import "nib"

link   = #000
gray   = #979797
accent = #000

pullout-width = 240px

// http =//style.cleverchimp.com/font_size_intervals/altintervals.html
// using 16 ppem
xx-small = 9px
x-small  = 10px
small    = 12px
medium   = 13px
large    = 19px
x-large  = 24px
xx-large = 64px

headline = Didot, Times New Roman, Georgia, serif
sans-serif-headline = Helvetica Neue, Helvetica, Arial, sans-serif
