@import "nib"

link   = #000
gray   = hsl(0, 0%, 80%)
accent = hsl(102.63157894736841, 35.84905660377357%, 58.4313725490196%)

// http =//style.cleverchimp.com/font_size_intervals/altintervals.html
// using 16 ppem
xx-small = 9px
x-small  = 10px
small    = 12px
medium   = 13px
large    = 19px
x-large  = 24px
xx-large = 64px

body-font = Nunito, Helvetica Neue, Helvetica, Arial, sans-serif
headline = Didot, Times New Roman, Georgia, serif
headline-serif = Times New Roman, Georgia, serif
headline-sans-serif = Oswald, Helvetica Neue, Helvetica, Arial, sans-serif
headline-sans-serif-alt = Muli, Helvetica Neue, Helvetica, Arial, sans-serif
