//= require normalize
//= require_self
//= require_tree .

@import "_common"

body
  text-align center
  background-color white
  background white url('/assets/bg.jpg')
  color black

body, input, textarea, select, option
  font-family 'helvetica neue', 'book antiqua', helvetica, arial, sans-serif
  font-size medium
  font-weight 300

inputfocus, textarea:focus, select:focus, a:focus, a:active
  outline-color link

a
  color link
  text-decoration none
  outline none
  img
    border none

h1, h2, h3, h4, h5, h6
  text-transform uppercase
  font-weight 300

p
  line-height 160%

label[for]
  cursor pointer

input[type=text], input[type=email], input[type=tel], textarea, select
  padding 6px
  margin 0px
  font-size medium
  border solid 1px hsla(0, 0%, 0%, 0.3)
  box-shadow inset 0 0 3px hsla(0, 0%, 0%, 0.4)
  border-radius 2px

input[type=submit]
  border-radius 4px
  box-shadow inset 0 0 3px hsla(0, 0%, 0%, 0.4)
  border solid 1px hsla(0, 0%, 0%, 0.4)
  border-top-color hsla(0, 0%, 0%, 0.2)
  border-left-color hsla(0, 0%, 0%, 0.2)
  padding 0.25em 0.5em
  background-color link
  background-image linear-gradient(top, hsla(0, 100%, 100%, 0.6), hsla(0, 100%, 100%, 0.3))
  color white
  text-shadow 0px 1px 0px hsla(0, 0%, 0%, 0.5)
  font-size large
  cursor pointer
  transition box-shadow 100ms ease-in
  &:hover
    box-shadow 0 0 5px link
  &:active
    background-image linear-gradient(bottom, hsla(0, 100%, 100%, 0.6), hsla(0, 100%, 100%, 0.3))

body
  background-color #f6f6f9

#content, #footer
  width 900px
  margin 0px auto
  text-align left

#content
  padding 20px
  margin-top 10px
  border solid 1px #ccc
  background-color #fcfcfc
  background-color hsla(0, 0%, 98%, 0.7)
  background hsla(0, 0%, 100%, 0.5) -webkit-gradient(radial, 50% 30, 100, 50% 50, 500, from(hsla(0, 0%, 100%, 0.3)), to(hsla(0, 0%, 60%, 0.2)))
  background hsla(0, 0%, 100%, 0.5) -moz-radial-gradient(50% 30px, hsla(0, 0%, 100%, 0.3), hsla(0, 0%, 60%, 0.2))
  border-radius 2px

html.ie8, html.ie7, html.ie6
  #content
    background-image url('/assets/bg_light.jpg')

#header, #nav
  font-family 'raleway', 'helvetica neue', helvetica, arial, sans-serif
  text-align center

#header
  ahover
    text-decoration none
  h1
    word-spacing -0.5ex
    font-size xx-large
    text-shadow 0px 0px 2px hsla(0, 0%, 0%, 0.3)
    color #666
    .tagline
      word-spacing 0px
      font-size small
      margin-bottom 0.5em
      margin-left 130px
    a
      color #666
    b
      color link

#nav ul
  list-style-type none
  padding 0px
  text-transform uppercase
  color link
  a
    color black
    transition color 200ms ease-out
    &:hover
      color link
  li
    display inline
    padding 0px 1em 0px
  .social
    a
      padding 0px
    img
      width 20px
      height 20px
      margin-bottom -2px
      &.yelp
        width 16px

#page
  padding 2em 10px
  text-shadow 0px 1px 0px hsla(0, 100%, 100%, 0.5)
  .pullout
    float right
    width pullout-width - 20px
    clearfix()
  clearfix()
#footer
  font-size small
  padding 1em 10px
  .where
    float right
