@import '_common'

body.blog
  #page, header, footer
    width 800px
  article
    font-family body-font
    font-size medium+1
    margin-bottom 3em
    header
      .category
        display inline-block
        border-bottom solid 2px accent
        padding-bottom .25em
      h1
        text-transform none
        font-family headline-sans-serif
        font-weight normal
        font-size x-large
    a[rel=nofollow]
      display none
    footer
      padding 1em 0
    #disqus_thread
      width 50%
  time
    display block
    margin 0.5em 0
    text-align center
