@import '_common'

body.blog
  article
    font-family body-font
    margin-bottom 3em
    &.photo img.photo
      width 100%
      display block
    h1
      text-transform none
      font-family headline-sans-serif
      font-weight normal
      font-size large
  time
    display block
    margin 0.5em 0
    text-align center
