@import '_common'

body.blog
  #page
    width 760px
  aside
    float right
    width 230px
    text-align left
  article
    margin-bottom 3em
    margin-right 300px
  h1
    text-transform none
    font-family headline
    font-weight normal
