@import "_common"

body.contacts-new, body.contacts-create
  #page
    width 60%
    margin 0 auto
  a.email
    color accent
  .address
    label
      display inline-block
      margin 0 0 .25em
    img
      margin .5em 0 1em
      width 220px
      height 130px
  .attribution
    font-size xx-small
  input[type=text], input[type=email], input[type=tel], textarea, p.demand
    width 43ex
  textarea
    height 2em
    &.open
      height 12em
      transition height 100ms ease
  p.demand
    margin-left 23ex

  form.formtastic
    float left
    ol
      list-style-type none
      padding 0px
      margin 0px
      li
        margin 1em 0px
    fieldset
      border none
      margin 0px
      padding 0px
    label
      display inline-block
      width 22ex
      padding-right 1ex
    abbr[title=required]
      font-size x-small
      color accent
      margin-left 0.5ex
    li.text
      label
        margin-top 2px
      textarea
        vertical-align top
    fieldset.fragments
      legend
        float left
        padding-top 2px
      ol li
        display inline
        label
          display none
    fieldset.actions ol
      margin-left 23ex
    li.error
      label
        color link
      input, textarea
        border-color accent
      p.inline-errors
        color accent
        font-style italic
        margin 0.25em 0px 0px 26ex

body.contacts-show
  height 100%
  #page
    text-align center
