@import "_common"

red = hsl(7,66%,46%)

body.contacts-new, body.contacts-create
  a.email
    color red
  .address
    label
      display inline-block
      margin-bottom 0.25em
    img
      margin-top 0.25em
      width 220px
      height 115px
  .attribution
    font-size xx-small
  input[type=text], input[type=email], input[type=tel], textarea, p.demand
    width 50ex
  textarea
    height 2em
    &.open
      height 12em
      transition height 100ms ease
  p.demand
    margin-left 26ex

  form.formtastic
    ol
      list-style-type none
      padding 0px
      margin 0px
      li
        margin 1em 0px
    fieldset
      border none
      margin 0px
      padding 0px
    label
      display inline-block
      width 25ex
      padding-right 1ex
    abbr[title=required]
      font-size x-small
      color red
      margin-left 0.5ex
    li.text
      label
        margin-top 2px
      textarea
        vertical-align top
    li.date, li.time
      legend
        display none
      ol li
        display inline
        & + li label
          display none
    fieldset.actions ol
      margin-left 26ex
    li.error
      label
        color link
      input, textarea
        border-color red
      p.inline-errors
        color red
        font-style italic
        margin 0.25em 0px 0px 26ex

body.contacts-show #page
  text-align center
