@import "_common"

body.index-index
  #header
    h1
      font-size 72px
      .tagline
        margin-left 455px
    #nav
      font-size 18px
  .portfolio
    text-align center
    a
      display inline-block
      background-color white
      padding 5px
      margin 0px auto
      box-shadow 0 0 5px hsla(0, 0%, 0%, 0.4)
      border-radius 2px
      transform rotate(1deg)
      &:first-child
        transform rotate(-1deg)
      &:hover
        text-decoration none
    h3
      font-family 'Rock Salt'
      margin 0px
    img
      border solid 1px hsla(0, 0%, 0%, 0.2)
      border-radius 2px
  #footer
    text-align left

body.index-portfolio
  background url('/assets/bg.jpg')
  header
    position relative
    background-color hsla(0, 0%, 100%, 0.9)
    padding 1ex 1em
    display -webkit-box
    display -moz-box
    display -ms-box
    display box
    box-align baseline
    h1, nav
      margin 0
      box-flex 1
    h1
      font-size medium
      text-align left
      .the
        position static
        font-size small
      .tagline
        display none
    nav
      font-size small
      text-align right
      li
        padding 0 0 0 2em
      .social
        position absolute
        right -80px
  footer
    display none
  #portrait
    position fixed
    bottom -4px
    right 0
    z-index -1
    white-space nowrap
    transition left ease 500ms
    &.removing
      transition none
    img
      opacity 0
      &.fade-in
        opacity 1
        transition opacity ease 100ms
  ul
    list-style-type none
    margin 0px
    padding 0px
  .sets
    position fixed
    bottom 0
    h3
      position relative
      &, a
        color white
        text-shadow 0 0 2px hsla(0, 0%, 0%, 0.8)
    a.back
      display none
      position absolute
      left 0px
      font-size small
      margin-top large - small - 3
    .title
      display inline-block
      width 6em
      margin-left 80px
    ul
      overflow auto
      transition height 200ms
    :-webkit-scrollbar
      width 8px
      height 8px
    :-webkit-scrollbar-thumb:vertical
      background-color hsla(0, 0%, 0%, 0.2)
      border-radius 8px
  a.thumb
    img
      width 75px
      height 75px
      border solid 1px white
      border-radius 1px
    &.selected img
      border-color link
      transition border-color 200ms linear
  .set.closed, li.spacer
    position relative
    display inline-block
    width 79px
    height 130px
    margin 5px
    overflow show
    vertical-align top
    li
      position absolute
      top 0px
      left 0px
    h4
      text-transform none
      margin-top 85px
      width 79px
      overflow hidden
      text-overflow ellipsis
  .set.open
    height 100px
    width 900px
    white-space nowrap
    li
      position static
      display inline-block
      margin 5px
    h4
      display none

body.index-about
  #page img
    float left
    border solid 5px white
  p
    margin-left 330px
    text-align justify
    margin-right 35px

body.index-services
  #page
    position relative
    width 60%
    margin 0px auto
    h2
      font-size 1.25em
      .location
        text-transform none
      .price
        color black
    ul
      list-style-type none
      padding-left 20px
    li
      margin 0.25em 0px
      line-height 125%
    .price
      position absolute
      right 0px
      text-transform none
      display none
    .details ul
      font-size small
      padding-left 0px
      margin-left 0px
    h1, h2, h3, li
      border-bottom dotted 1px transparent
      transition border-bottom 100ms linear

body.index-error
  #page
    text-align center
    h1
      font-size xx-large
