@import "_common"

body.index-index
  header nav
    display none
  #page
    padding-top 0
    margin-top -2px
    border-top solid 1px gray
  h2
    border-bottom solid 1px gray
  .cover
    position relative
    float left
    img
      background-color lightgray
      width 100%
    .caption
      position absolute
      left 0
      bottom 0
      padding 0 20px
      color white
      width 80%
      background-color hsla(0, 0%, 0%, 0.2)
      p:first-child:first-line
        font-family headline
        font-style italic
        font-size 36px
        letter-spacing -1px
        line-height 150%
    &.landscape
      width 100%
      height 420px
      overflow hidden
      img
        height auto
        margin-top -5%
      & ~ section
        width 280px
    &.portrait
      width 50%
      float left
      .caption
        bottom 3px
      & ~ section
        width 205px
  section
    float left
    padding-left 20px
    h2
      margin-top 1.25em
    ul
      list-style-type none
      padding-left 0
    h4
      font-style italic
      font-size medium + 1
      margin 1em 0 0.5em
      text-transform none
    b
      font-family headline-simple
      font-style italic
      font-size medium + 1
      color link
  .portfolio img
    width 100%

body.index-portfolio
  box-shadow none
  overflow hidden
  header
    position relative
    background-color hsla(0, 0%, 100%, 0.3)
    padding 1ex 1em
    display -webkit-box
    display -moz-box
    display -ms-box
    display box
    box-align baseline
    h1, nav
      margin 0
      box-flex 1
    h1
      font-size medium
      text-align left
      .the
        position static
        font-size small
      a
        background url('logo-small@2x.png') left center no-repeat
        background-size 156px 15px
        min-width 155px
        min-height 15px
    nav
      font-size small
      text-align right
      li
        padding 0 0 0 1em
      .social
        position absolute
        right -80px
  footer
    display none
  #page
    &, a, h3
      color white
      text-shadow 0 0 2px hsla(0, 0%, 0%, 0.8)
  #portrait
    position fixed
    left 0
    bottom -4px
    z-index -1
    white-space nowrap
    font-family headline-sans-serif
    font-weight 300
    width 100%
    overflow-x scroll
    overflow-y hidden
    -webkit-overflow-scrolling touch
    img
      opacity 0
      &.fade-in
        opacity 1
        transition opacity ease 100ms
    a
      position relative
      display inline-block
      .caption
        position absolute
        right 20px
        bottom 130px
        text-align right
        max-width 18em
        white-space normal
        background-color hsla(0, 0%, 0%, 0.2)
        padding 10px
        text-shadow none
  ul
    list-style-type none
    margin 0
    padding 0
    h3
      margin-bottom 0
  .albums
    position fixed
    bottom 0
    height 125px
    // ^ lame - shouldn't be needed, but jumps otherwise
    a.back
      display none
      font-size small
    .title
      margin-left 2em
    ul
      overflow auto
      -webkit-overflow-scrolling touch
    :-webkit-scrollbar
      width 8px
      height 8px
    :-webkit-scrollbar-thumb:horizontal
      background-color hsla(0, 0%, 0%, 0.2)
      border-radius 8px
  a.thumb
    img
      height 65px
      border solid 1px white
    &.selected img
      border-color link
      transition border-color 200ms linear
  .album
    display inline-block
    li
      display inline-block
      margin 5px
  .album.closed
    ul, h4
      display inline-block
    .arrow
      display none
    h4
      vertical-align top
      text-transform none
      max-width 85px
      padding-right 1em
    img
      vertical-align top
    li
      display none
    li.cover
      display inline-block
  .album.open
    width 900px
    white-space nowrap
    position relative
    .arrow
      display none
      position absolute
      top 25px
      font-size large
      &.left
        left -28px
      &.right
        right -28px
    h4
      display none

body.index-about
  #page
    min-height 600px
    img
      position absolute
      z-index -1
      width 900px
  article
    font-size large
    width 676px
    margin 0 auto
    p
      text-align justify
      hyphens auto
      margin 1em 0
    p:first-child
      margin 1.5em 0 0.5em
      font-family headline
      font-style italic
      font-size 36px
      color #ff4b6d

body.index-services
  #page
    position relative
    width 60%
    margin 0 auto
    h2
      text-align center
      .location
        text-transform none
    h3
      margin-bottom 0.5em
    ul
      padding-left 20px
    li
      margin 0.25em 0px
      line-height 125%
    .price
      font-weight normal
      color #666
      position absolute
      right 0px
      text-transform none
      &.header
        color #000

body.index-error
  #page
    text-align center
    h1
      font-size xx-large
