@import "_common"

body.index-index
  #page
    padding-top 0
    margin-top -2px
    border-top solid 1px gray
  .cover
    position relative
    float left
    img
      background-color lightgray
      width 100%
    .caption
      position absolute
      left 0
      bottom 0
      right 0
      padding 20px 20px 10px
      color white
      background linear-gradient(top, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2))
      text-shadow 0 1px 0 hsla(0, 0%, 0%, 0.2)
      p:first-child:first-line
        font-family headline
        font-style italic
        font-size 36px
        letter-spacing -1px
        line-height 150%
    &.landscape
      width 100%
      height 420px
      overflow hidden
      img
        height auto
        margin-top -5%
      & ~ section
        width 280px
    &.portrait
      width 50%
      float left
      .caption
        bottom 3px
      & ~ section
        width 205px
        &.services
          width 430px
        &.posts
          height 740px
          overflow hidden
  section
    float left
    padding-left 20px
    h2
      margin-top 1.25em
    ul
      list-style-type none
      padding-left 0
    h4
      font-family headline-serif
      font-size medium + 1
      font-style italic
      margin 1.5em 0 0
      text-transform none
    b
      font-family headline-sans-serif-alt
      font-weight normal
      color link
    .more
      color transparent
      transition color 200ms ease
    li:hover .more
      color black
  .portfolio img
    width 100%
  section .social
    text-align center
    margin-top 1em
    a
      font-size x-large

body.index-about
  #page
    min-height 600px
    img
      position absolute
      z-index -1
      width 900px
  article
    font-size large
    width 676px
    margin 0 auto
    p
      text-align justify
      hyphens auto
      margin 1em 0
    p:first-child
      margin 1.5em 0 0.5em
      font-family headline
      text-align left
      font-size 32px
      color accent

body.index-services
  #page
    position relative
    width 60%
    margin 0 auto
    h2
      text-align center
      &:first-child
        color accent
    h3
      margin 1.5em 0 0
    h3 + p
      margin-top 0
    em
      font-family headline-serif
    ul
      padding-left 20px
    li
      margin 0.25em 0px
      line-height 125%
    .price
      color #666
      position absolute
      right 0px
      text-transform none
      &.header
        color #000

body.index-error
  #page
    text-align center
    h1
      font-size xx-large
