@import '_common'

body.posts
  aside
    &, img
      width 260px
    float right
    margin 61px 0 0 20px
    section .social
      text-align center
      margin-top 1em
      a
        font-size x-large
    nav.pagination
      text-align center
  article
    width 600px
    font-family body-font
    font-size medium+2
    margin-bottom 3em
    header, footer, img
      width 600px
      height auto
    img.wp-smiley
      width auto
    .wp-caption
      position relative
      .wp-caption-text
        position absolute
        bottom 5px
        color white
        background linear-gradient(hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, .5))
        margin 0
        padding 10px
        width 580px
        text-align center
        transition opacity .2s
        opacity 0
      &:hover .wp-caption-text
        opacity 1
    header
      .category
        display inline-block
        border-bottom solid 2px accent
        padding-bottom .25em
      h1
        text-transform none
        font-family headline-sans-serif
        font-weight normal
        font-size x-large
      time
        display block
        font-size small
        font-style italic
        margin 0.5em 0
    p, li
      line-height 150%
      margin 1em 0
    a[rel=nofollow]
      display none
    footer
      padding 1em 0
