@import '_common'

body.posts
  aside
    width 260px
    position fixed
    margin-left 190px
    left 50%
    section .social
      text-align center
      margin-top 1em
      a
        font-size x-large
    nav.pagination
      text-align center
  article
    width 600px
    font-family body-font
    font-size medium+2
    margin-bottom 3em
    header, footer, img
      width 600px
      height auto
    img.wp-smiley
      width auto
    header
      .category
        display inline-block
        border-bottom solid 2px accent
        padding-bottom .25em
      h1
        text-transform none
        font-family headline-sans-serif
        font-weight normal
        font-size x-large
      time
        display block
        font-size small
        font-style italic
        margin 0.5em 0
    p, li
      line-height 150%
      margin 1em 0
    a[rel=nofollow]
      display none
    footer
      padding 1em 0
