@import '_common'

body.posts
  aside
    margin-top 61px
    img
      width 100%
    section
      margin-bottom 2em
    .categories
      ul
        column-count 2
      li h4
        margin 0 !important
    .social .button
      font-size large !important
  article
    max-width 600px
    font-family body-font
    font-size medium+2
    margin-bottom 3em
    position relative
    header, footer, img, .wp-caption
      width 100% !important
      height auto
    img.wp-smiley
      width auto !important
    .wp-caption
      position relative
      .wp-caption-text
        position absolute
        bottom 5px
        color white
        background linear-gradient(hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, .5))
        margin 0
        padding 10px
        width 580px
        text-align center
        transition opacity .2s
        opacity 0
      &:hover .wp-caption-text
        opacity 1
    header
      .category
        display inline-block
        border-bottom solid 2px accent
        padding-bottom .25em
        text-transform capitalize
      h1
        text-transform none
        font-family headline-sans-serif
        font-weight normal
        font-size x-large
      time
        display block
        font-size small
        font-style italic
        margin 0.5em 0
    p, li
      line-height 150%
      margin 1em 0
    a[rel=nofollow]
      display none
    footer
      padding 1em 0
  nav.pagination
    max-width 600px
    text-align center
    a
      margin 1em
@media (max-width: 940px)
  body.posts
    #page aside
      display none
    article
      margin 0 auto
