---
http_interactions:
- request:
    method: get
    uri: http://api.flickr.com/services/rest/?method=flickr.collections.getTree&api_key=18635c5ffedaf5681361e557ad8ed565&collection_id=20446502-72157624005829771&user_id=20451842%40N05&format=json&nojsoncallback=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"collections":{"collection":[{"id":"20446502-72157624005829771",
        "title":"Portfolio", "description":"compilation of my makeup and hair work.
        enjoy!", "iconlarge":"http:\/\/farm4.staticflickr.com\/3372\/cols\/72157624005829771_43ee72fea0_l.jpg",
        "iconsmall":"http:\/\/farm4.staticflickr.com\/3372\/cols\/72157624005829771_43ee72fea0_s.jpg",
        "set":[{"id":"72157624129720866", "title":"Weddings", "description":"Real
        weddings - Real Photographers"}, {"id":"72157624005396809", "title":"Before
        & After(s)", "description":""}, {"id":"72157624130178490", "title":"Fashion",
        "description":""}, {"id":"72157625061763872", "title":"Press", "description":""},
        {"id":"72157626848930587", "title":"Engagement", "description":""}, {"id":"72157626973424464",
        "title":"Boudoir", "description":""}]}]}, "stat":"ok"}'
  recorded_at: Sat, 17 Mar 2012 03:29:24 GMT
- request:
    method: get
    uri: http://api.flickr.com/services/rest/?method=flickr.photosets.getPhotos&api_key=18635c5ffedaf5681361e557ad8ed565&photoset_id=72157624129720866&format=json&nojsoncallback=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"photoset":{"id":"72157624129720866", "primary":"4294320609", "owner":"20451842@N05",
        "ownername":"janekimmer", "photo":[{"id":"3506297440", "secret":"1f37c5fa46",
        "server":"3595", "farm":4, "title":"Stella & David", "isprimary":"0"}, {"id":"3506297648",
        "secret":"4747f83c0d", "server":"3547", "farm":4, "title":"Stella & David",
        "isprimary":"0"}, {"id":"3506297842", "secret":"eece830d75", "server":"3656",
        "farm":4, "title":"Stella & David", "isprimary":"0"}, {"id":"4295061266",
        "secret":"fa517a886c", "server":"2725", "farm":3, "title":"Marria & Tim",
        "isprimary":"0"}, {"id":"4294320609", "secret":"d4c65d8aa1", "server":"4067",
        "farm":5, "title":"Marria & Tim", "isprimary":[...]
[...]
