---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/395172810510954
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
      etag:
      - '"e6552844c3236a14c89465236df26d9c7db2ddef"'
    body:
      encoding: US-ASCII
      string: '{"id":"395172810510954","from":{"id":"125086767519561","category":"Local
        business","name":"The Glamourist"},"name":"I love to laugh.","picture":"http:\/\/photos-f.ak.fbcdn.net\/hphotos-ak-prn1\/422787_395172810510954_812616719_s.jpg","source":"http:\/\/sphotos-f.ak.fbcdn.net\/hphotos-ak-prn1\/s720x720\/422787_395172810510954_812616719_n.jpg","height":479,"width":720,"images":[{"height":1365,"width":2048,"source":"http:\/\/sphotos-f.ak.fbcdn.net\/hphotos-ak-ash4\/468544_395172810510954_812616719_o.jpg"},{"height":639,"width":960,"source":"http:\/\/sphotos-f.ak.fbcdn.net\/hphotos-ak-prn1\/422787_395172810510954_812616719_n.jpg"},{"height":479,"width":720,"source":"http:\/\/sphotos-f.ak.fbcdn.net\/hphotos-ak-prn1\/s720x720\/422787_395172810510954_812616719_n.jpg"},{"height":399,"width":600,"source":"http:\/\/sphotos-f.ak.fbcdn.net\/hphotos-ak-prn1\/s600x600\/422787_395172810510954_812616719_n.jpg"},{"height":319,"width":480,"source":"http:\/\/sphotos-f.ak.fbcdn.net\/hphotos-ak-prn1\/s480x480\/422787_395172810510954_812616719_n.jpg"},{"height":212,"width":320,"source":"http:\/\/sphotos-f.ak.fbcdn.net\/hphotos-ak-prn1\/s320x320\/422787_395172810510954_812616719_n.jpg"},{"height":119,"width":180,"source":"http:\/\/photos-f.ak.fbcdn.net\/hphotos-ak-prn1\/422787_395172810510954_812616719_a.jpg"},{"height":86,"width":130,"source":"http:\/\/photos-f.ak.fbcdn.net\/hphotos-ak-prn1\/422787_395172810510954_812616719_s.jpg"},{"height":86,"width":130,"source":"http:\/\/photos-f.ak.fbcdn.net\/hphotos-ak-prn1\/s75x225\/422787_395172810510954_812616719_s.jpg"}],"link":"http:\/\/www.facebook.com\/photo.php?fbid=395172810510954&set=a.151650408196530.29703.125086767519561&type=1","icon":"http:\/\/static.ak.fbcdn.net\/rsrc.php\/v2\/yz\/r\/StEh3RhPvjk.gif","created_time":"2012-03-13T20:10:31+0000","updated_time":"2012-04-09T20:18:56+0000","likes":{"data":[{"id":"1064125153","name":"Marria
        Tang"},{"id":"751188880","name":"Monica Chang"},{"id":"100003289621032","name":"Justin
        Parker"}],"paging":{"next":"https:\/\/graph.facebook.com\/395172810510954\/likes?limit=25&offset=25&__after_id=100003289621032"}}}'
  recorded_at: Wed, 01 May 2013 06:11:13 GMT
- request:
    method: get
    uri: https://graph.facebook.com/theglamourist/albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Facebook-Api-Version:
      - v1.0
      Etag:
      - '"d63411c3e80fc4107bb3debc5512e382f1a151e3"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"245796698781900","from":{"category":"Personal blog","category_list":[{"id":"146059155460366","name":"Makeup
        Artist"}],"name":"The Glamourist","id":"125086767519561"},"name":"Timeline
        Photos","link":"https:\/\/www.facebook.com\/album.php?fbid=245796698781900&id=125086767519561&aid=78329","cover_photo":"965947540100142","count":109,"type":"wall","created_time":"2011-07-12T17:12:18+0000","updated_time":"2014-11-30T11:18:19+0000","can_upload":false},{"id":"151650408196530","from":{"category":"Personal
        blog","category_list":[{"id":"146059155460366","name":"Makeup Artist"}],"name":"The
        Glamourist","id":"125086767519561"},"name":"Profile Pictures","link":"https:\/\/www.facebook.com\/album.php?fbid=151650408196530&id=125086767519561&aid=29703","cover_photo":"797566113604953","count":7,"type":"profile","created_time":"2010-09-03T02:16:59+0000","updated_time":"2014-03-15T03:51:54+0000","can_upload":false},{"id":"762496170445281","from":{"category":"Personal
        blog","category_list":[{"id":"146059155460366","name":"Makeup Artist"}],"name":"The
        Glamourist","id":"125086767519561"},"name":"Destination Weddings","description":"Hawaii,
        Dominican Republic, Thailand, Puerto Vallarta, Palm Springs and hopefully
        more :D!","link":"https:\/\/www.facebook.com\/album.php?fbid=762496170445281&id=125086767519561&aid=1073741825","cover_photo":"762496943778537","count":50,"type":"normal","created_time":"2014-01-10T18:18:59+0000","updated_time":"2014-01-10T18:51:27+0000","can_upload":false,"likes":{"data":[{"id":"4702586","name":"Patricia
        Taft"},{"id":"157559267612173","name":"Less Than 3 Productions"},{"id[...]
[...]
- request:
    method: get
    uri: http://saturated.theglamourist.com/?url=https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/s130x130/1604388_762496943778537_515559486_n.jpg?oh=396413d088b78a9ecd7c55b924901da1%26oe=551C8FF3%26__gda__=1426951281_b213b961a0152af0d43015c6c42f7872
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"h":57.499999999999986,"s":37.113402061855666,"l":38.03921568627452,"a":1,"_preview":"http://www.colorhexa.com/color.php?c=h%2057%20s%2037%20l%2038"}'
  recorded_at: Fri, 05 Dec 2014 17:06:42 GMT
[...]
- request:
    method: get
    uri: http://saturated.theglamourist.com/?url=https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xaf1/v/t1.0-9/s130x130/546341_419250528103182_2022779904_n.jpg?oh=fcb78e8c38a299d01908ae92df0a0277%26oe=55105272%26__gda__=1428006997_b9bfb1a119b09267b7d53c1c11496939
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"h":18.80597014925373,"s":28.033472803347276,"l":46.86274509803921,"a":1,"_preview":"http://www.colorhexa.com/color.php?c=h%2019%20s%2028%20l%2047"}'
  recorded_at: Fri, 05 Dec 2014 17:06:43 GMT
[...]
- request:
    method: get
    uri: http://saturated.theglamourist.com/?url=https://scontent-a.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/s130x130/992951_668376483190584_813270675_n.jpg?oh=12ba004fb9a0c4412683a55d9e6d351c%26oe=550889F3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"h":25.05494505494505,"s":38.07531380753138,"l":46.86274509803921,"a":1,"_preview":"http://www.colorhexa.com/color.php?c=h%2025%20s%2038%20l%2047"}'
  recorded_at: Fri, 05 Dec 2014 17:06:44 GMT
[...]
- request:
    method: get
    uri: http://saturated.theglamourist.com/?url=https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/s130x130/523590_414863831875185_1084010892_n.jpg?oh=3953038a7917c67892b99ca5c1c65f48%26oe=551E000C%26__gda__=1426044302_02bcf54df3e745840049321c4a3ca975
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"h":20.23255813953488,"s":41.34615384615385,"l":59.21568627450981,"a":1,"_preview":"http://www.colorhexa.com/color.php?c=h%2020%20s%2041%20l%2059"}'
  recorded_at: Fri, 05 Dec 2014 17:06:45 GMT
[...]
- request:
    method: get
    uri: http://saturated.theglamourist.com/?url=https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/p128x128/59595_669042759790623_1668234637_n.jpg?oh=ad9a976ffd13a5e964ee666b4c87a2ff%26oe=551A2343%26__gda__=1426136110_a76be4485461c7dc276a3938aa4e5cee
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"h":209.7986577181208,"s":68.03652968036529,"l":42.94117647058824,"a":1,"_preview":"http://www.colorhexa.com/color.php?c=h%20210%20s%2068%20l%2043"}'
  recorded_at: Fri, 05 Dec 2014 17:06:46 GMT
[...]
- request:
    method: get
    uri: http://saturated.theglamourist.com/?url=https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xpa1/v/t1.0-9/s130x130/1146481_797921786902719_1817115056_n.jpg?oh=bff586386daa4a3881e5cdedb84e49c8%26oe=5506CF41%26__gda__=1425668220_76cedf3410e192c5ae8a9fe253781e22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"h":24,"s":20.2020202020202,"l":38.82352941176471,"a":1,"_preview":"http://www.colorhexa.com/color.php?c=h%2024%20s%2020%20l%2039"}'
  recorded_at: Fri, 05 Dec 2014 17:06:47 GMT
[...]
- request:
    method: get
    uri: http://saturated.theglamourist.com/?url=https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/s130x130/156514_428640437164191_1717554764_n.jpg?oh=64e2a91e238d9f61dc67b23274ad0afd%26oe=54FD48D3%26__gda__=1426276454_88829ff0af1e6bbe0a075e311200fe34
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"h":33.62637362637362,"s":36.84210526315789,"l":48.431372549019606,"a":1,"_preview":"http://www.colorhexa.com/color.php?c=h%2034%20s%2037%20l%2048"}'
  recorded_at: Fri, 05 Dec 2014 17:06:48 GMT
recorded_with: VCR 2.9.2
