---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/538328/media/recent/?access_token=538328.643541b.be39dd953e644df58d2ce0f2460b049c
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
    body:
      encoding: UTF-8
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/users\/538328\/media\/recent?access_token=538328.643541b.be39dd953e644df58d2ce0f2460b049c\u0026max_id=518364137394537930_538328","next_max_id":"518364137394537930_538328"},"meta":{"code":200},"data":[{"attribution":null,"tags":["foodpic","foodie","newlyweds","foodporn","food","vietnamesefood","stellina","yum","asianfood","hahaha","sanfrancisco","vscocam"],"type":"image","location":{"latitude":37.782023025,"name":"Square
        HQ","longitude":-122.4060148,"id":934},"comments":{"count":8,"data":[{"created_time":"1377232395","text":"You
        have Stellina!!","from":{"username":"tabnoh","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_17906282_75sq_1359871128.jpg","id":"17906282","full_name":"Tabbie
        Noh \ud83d\udc92"},"id":"528586101451130459"},{"created_time":"1377232601","text":"Yes!
        But not mine! @tabnoh","from":{"username":"theglamourist","profile_picture":"http:\/\/images.ak.instagram.com\/profiles\/profile_538328_75sq_1372448636.jpg","id":"538328","full_name":"Jane
        Kim"},"id":"528587827851822761"},{"created_time":"1377232627","text":"@gladysjem
        I went back to ha nam ninh today. Hahahah","from":{"username":"theglamourist","profile_picture":"http:[...]
