---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/theglamourist/albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 336406949773140|UPGhVy6QmxngW6F1dp9pr-yw4e4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"fa7fd68cc5403d1dbf7e827d4fac15e58d7fc164"'
      Facebook-Api-Version:
      - v2.0
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"245796698781900","from":{"name":"The Glamourist","category":"Personal
        Blog","id":"125086767519561"},"name":"Timeline Photos","link":"https:\/\/www.facebook.com\/album.php?fbid=245796698781900&id=125086767519561&aid=78329","cover_photo":"1091071100921118","count":146,"type":"wall","created_time":"2011-07-12T17:12:18+0000","updated_time":"2015-06-30T23:41:07+0000","can_upload":false},{"id":"1058616130833282","from":{"name":"The
        Glamourist","category":"Personal Blog","id":"125086767519561"},"name":"Mobile
        Uploads","link":"https:\/\/www.facebook.com\/album.php?fbid=1058616130833282&id=125086767519561&aid=1073741826","type":"mobile","created_time":"2015-05-01T15:02:52+0000","updated_time":"2015-05-01T15:02:52+0000","can_upload":false},{"id":"151650408196530","from":{"name":"The
        Glamourist","category":"Personal Blog","id":"125086767519561"},"name":"Profile
        Pictures","link":"https:\/\/www.facebook.com\/album.php?fbid=151650408196530&id=125086767519561&aid=29703","cover_photo":"797566113604953","count":7,"type":"profile","created_time":"2010-09-03T02:16:59+0000","updated_time":"2014-03-15T03:51:54+0000","can_upload":false},{"id":"762496170445281","from":{"name":"The
        Glamourist","category":"Personal Blog","id":"125086767519561"},"name":"Destination
        Weddings","description":"Hawaii, Dominican Republic, Thailand, Puerto Vallarta,
        Palm Springs and hopefully more :D!","link":"https:\/\/www.facebook.com\/album.php?fbid=762496170445281&id=125086767519561&aid=1073741825","cover_photo":"762496943778537","count":50,"type":"normal","created_time":"2014-01-10T18:18:59+0000","updated_time":"2014-01-10T18:51:27+0000","can_upload":false,"likes":{"data":[{"id":"10100921866913158","name":"Patricia
        Taft"},{"id":"157559267612173","name":"Less Than 3 Productions"},{"id":"436991603147833","name":"Lynn
        Bustle"},{"id":"1088121291202922","name":"Christina Chen"},{"id":"10205218000984077","name":"Victoria
        Brazil"},{"id":"10154129025151808","name":"Sonia Mondkar-Floyd"},{"id":"10206839467087823","name":"Ellen
        Dez"},{"id":"10153470308714309","name":"Cindy Chavez Radu"},{"id":"10203324179020244","name":"Gail
        Kodama"},{"id":"10152923121108309","name":"Jamie Wong"},{"id":"10207518878670992","name":"Jennifer
        Tan Inouye"},{"id":"10204473200410163","name":"Ryan Dez"},{"id":"10155689674100293","name":"Tj
        Holowaychuk"},{"id":"10153454856938385","name":"Erin Yeschin"},{"id":"10206976039267775","name":"Inge
        Hendromartono"},{"id":"10153112904218143","name":"Thao Huynh"},{"id":"10152761080967202","name":"Linda
        M. Char"},{"id":"1099629563384193","name":"Regina Sih-Meynier"},{"id":"10155735501990013","name":"Kim
        Le Pham"},{"id":"10104356481173613","name":"Natalie Whearley"},{"id":"968511749847888","name":"Bebe
        Hue Le"},{"id":"10153447389439185","name":"Carleigh Miller Fager"},{"id":"10153015914998995","name":"Sopheap
        Min"},{"id":"10153047238376847","name":"Moustafa ElBialy"},{"id":"10205508212479370","name":"Connie
        Tong"}],"paging":{"cursors":{"before":"MTAxMDA5MjE4NjY5MTMxNTgZD","after":"MTAyMDU1MDgyMTI0NzkzNzAZD"},"next":"https:\/\/graph.facebook.com\/v2.0\/762496170445281\/likes?limit=25&after=MTAyMDU1MDgyMTI0NzkzNzAZD"}},"comments":{"data":[{"id":"762496170445281_104747452","can_remove":false,"created_time":"2014-01-10T18:42:08+0000","from":{"id":"10153035783544016","name":"Devy
        Diep"},"like_count":1,"message":"So cute jane!","user_likes":false},{"id":"762496170445281_104747464","can_remove":false,"created_time":"2014-01-10T18:46:31+0000","from":{"name":"The
        Glamourist","category":"Personal Blog","id":"125086767519561"},"like_count":0,"message":"Thanks,
        Devy Diep!!!","message_tags":[{"id":"10153035783544016","length":9,"name":"Devy
        Diep","offset":8,"type":"user"}],"user_likes":false},{"id":"762496170445281_104747544","can_remove":false,"created_time":"2014-01-10T19:34:21+0000","from":{"id":"10153367823894400","name":"Indu
        Huynh"},"like_count":0,"message":"You guys are soooo cute!!! \u003C3","user_likes":false},{"id":"762496170445281_104747724","can_remove":false,"created_time":"2014-01-10T20:44:06+0000","from":{"id":"968511749847888","name":"Bebe
        Hue Le"},"like_count":0,"message":"So cute","user_likes":false},{"id":"76249[...]
- request:
    method: get
    uri: https://graph.facebook.com/762496943778537
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 336406949773140|UPGhVy6QmxngW6F1dp9pr-yw4e4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - '"bea8fee0a96a37c36a155951c010e041f967453a"'
      Facebook-Api-Version:
      - v2.0
    body:
      encoding: ASCII-8BIT
      string: '{"id":"762496943778537","created_time":"2014-01-10T18:20:36+0000","from":{"name":"The
        Glamourist","category":"Personal Blog","id":"125086767519561"},"height":720,"icon":"https:\/\/fbstatic-a.akamaihd.net\/rsrc.php\/v2\/yz\/r\/StEh3RhPvjk.gif","images":[{"height":2048,"source":"https:\/\/scontent.xx.fbcdn.net\/hphotos-xpf1\/t31.0-8\/1556419_762496943778537_515559486_o.jpg","width":1366},{"height":1439,"source":"https:\/\/scontent.xx.fbcdn.net\/hphotos-xpf1\/t31.0-8\/p960x960\/1556419_762496943778537_515559486_o.jpg","width":960},{"height":1079,"source":"https:\/\/scontent.xx.fbcdn.net\/hphotos-xpf1\/t31.0-8\/p720x720\/1556419_762496943778537_515559486_o.jpg","width":720},{"height":899,"source":"https:\/\/scontent.xx.fbcdn.net\/hphotos-xpf1\/t31.0-8\/p600x600\/1556419_762496943778537_515559486_o.jpg","width":600},{"height":719,"source":"https:\/\/scontent.xx.fbcdn.net\/hphotos-xpf1\/t31.0-8\/p480x480\/1556419_762496943778537_515559486_o.jpg","width":480},{"height":480,"source":"https:\/\/scontent.xx.fbcdn.net\/hphotos-xfp1\/v\/t1.0-9\/p320x320\/1604388_762496943778537_515559486_n.jpg?oh=500b1bd04110de713b419c3d5e5b9287&oe=5632BBD6","width":320},{"height":540,"source":"https:\/\/scontent.xx.fbcdn.net\/hphotos-xfp1\/v\/t1.0-9\/p180x540\/1604388_762496943778537_515559486_n.jpg?oh=54d4088a0d77567d8fc5cefada091c53&oe=5613B69D","width":360},{"height":195,"source":"https:\/\/scontent.xx.fbcdn.net\/hphotos-xfp1\/v\/t1.0-9\/p130x130\/1604388_762496943778537_515559486_n.jpg?oh=ebfb33627c4895886faf1dc5b4d268ec&oe=56198897","width":130},{"height":225,"source":"https:\/\/scontent.xx.fbcdn.net\/hphotos-xfp1\/v\/t1.0-9\/p75x225\/1604388_762496943778537_515559486_n.jpg?oh=5f9875ff8eac814dbb5beaa2bbe04732&oe=56192534","width":150}],"link":"https:\/\/www.facebook.com\/theglamourist\/photos\/a.762496170445281.1073741825.125086767519561\/762496943778537\/?type=1","picture":"https:\/\/scontent.xx.fbcdn.net\/hphotos-xfp1\/v\/t1.0-9\/s130x130\/1604388_762496943778537_515559486_n.jpg?oh=87d95705c41e0a119ea28ccf2e2ee451&oe=56316AF3","source":"https:\/\/scontent.xx.fbcdn.net\/hphotos-xpf1\/t31.0-8\/p480x480\/1556419_762496943778537_515559486_o.jpg","updated_time":"2014-01-10T18:20:39+0000","width":480,"comments":{"data":[{"id":"762496943778537_89638673","can_remove":false,"created_time":"2014-01-10T18:24:50+0000","from":{"id":"10155715344235296","name":"Sarah
        Dawson"},"like_count":1,"message":"I want to get married in Thailand!","user_likes":false}],"paging":{"cursors":{"before":"WTI5dGJXVnVkRjlqZAFhKemIzSTZAOell5TkRrNE56QXpOemM0TXpZAeE9qZAzVOak00TmpjegZDZD","after":"WTI5dGJXVnVkRjlqZAFhKemIzSTZAOell5TkRrNE56QXpOemM0TXpZAeE9qZAzVOak00TmpjegZDZD"}}},"likes":{"data":[{"id":"10155712881755268","name":"Shelly
        Tong"},{"id":"10153142355998557","name":"Lynn Sudhi"},{"id":"10153035783544016","name":"Devy
        Diep"}],"paging":{"cursors":{"before":"MTAxNTU3MTI4ODE3NTUyNjgZD","after":"MTAxNTMwMzU3ODM1NDQwMTYZD"}}}}'
  recorded_at: Sat, 04 Jul 2015 18:36:53 GMT
- request:
    method: get
    uri: http://saturated.theglamourist.com/?url=https://scontent.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/s130x130/1604388_762496943778537_515559486_n.jpg?oh=87d95705c41e0a119ea28ccf2e2ee451%26oe=56316AF3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"h":57.499999999999986,"s":37.113402061855666,"l":38.03921568627452,"a":1,"_preview":"http://www.colorhexa.com/color.php?c=h%2057%20s%2037%20l%2038"}'
  recorded_at: Sat, 04 Jul 2015 18:36:53 GMT
[...]
- request:
    method: get
    uri: http://saturated.theglamourist.com/?url=https://scontent.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/s130x130/546341_419250528103182_2022779904_n.jpg?oh=bd27ff019cf7c8a7eb7ce1d25652c07b%26oe=56252D72
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"h":18.80597014925373,"s":28.033472803347276,"l":46.86274509803921,"a":1,"_preview":"http://www.colorhexa.com/color.php?c=h%2019%20s%2028%20l%2047"}'
  recorded_at: Sat, 04 Jul 2015 18:36:54 GMT
[...]
- request:
    method: get
    uri: http://saturated.theglamourist.com/?url=https://scontent.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/s130x130/523590_414863831875185_1084010892_n.jpg?oh=7697e7cb1f22130db7376ad3da41a36b%26oe=5632DB0C
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"h":20.23255813953488,"s":41.34615384615385,"l":59.21568627450981,"a":1,"_preview":"http://www.colorhexa.com/color.php?c=h%2020%20s%2041%20l%2059"}'
  recorded_at: Sat, 04 Jul 2015 18:36:55 GMT
[...]
- request:
    method: get
    uri: http://saturated.theglamourist.com/?url=https://scontent.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/p128x128/59595_669042759790623_1668234637_n.jpg?oh=993043448075d6be2ea9d7a5bcc5e9a4%26oe=562EFE43
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"h":209.7986577181208,"s":68.03652968036529,"l":42.94117647058824,"a":1,"_preview":"http://www.colorhexa.com/color.php?c=h%20210%20s%2068%20l%2043"}'
  recorded_at: Sat, 04 Jul 2015 18:36:56 GMT
[...]
- request:
    method: get
    uri: http://saturated.theglamourist.com/?url=https://scontent.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/s130x130/156514_428640437164191_1717554764_n.jpg?oh=7681f7831ef9bda94a51bd86946844e8%26oe=561223D3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"h":33.62637362637362,"s":36.84210526315789,"l":48.431372549019606,"a":1,"_preview":"http://www.colorhexa.com/color.php?c=h%2034%20s%2037%20l%2048"}'
  recorded_at: Sat, 04 Jul 2015 18:36:56 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/538328/media/recent/?access_token=673267.1fb234f.735fee82c08b415ab76339cd337c4053
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4999'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/users\/538328\/media\/recent?access_token=673267.1fb234f.735fee82c08b415ab76339cd337c4053\u0026max_id=995188294741656655_538328","next_max_id":"995188294741656655_538328"},"meta":{"code":200},"data":[{"attribution":null,"tags":["goexplore","picnic","commuter","livefolk","lovethewiild","brightfolk","snapchat","passionpassport","igers","mytinyatlas","thatsdarling","keepitwild","folk5000","vscogrid","bestofvsco","welltravelled","thehungryglamourist","\uc18c\ud48d","lifeofadventure","scoutforth","4thofjuly","liveauthentic","justgoshoot","holiday","blooooms"],"type":"image","location":{"latitude":38.162372167,"longitude":-122.89398},"comments":{"count":8,"data":[{"created_time":"1435974638","text":"#scoutforth
        #keepitwild #welltravelled #livefolk #liveauthentic #lovethewiild #bestofvsco
        #mytinyatlas #folk5000 #passionpassport #brightfolk #commuter #lifeofadventure
        #igers #vscogrid #goexplore #justgoshoot #blooooms #picnic #thatsdarling #holiday
        #picnic #\uc18c\ud48d#thehungryglamourist","from":{"username":"theglamourist","profile_picture":"https:\/\/igcdn-photos-f-a.akamaihd.net\/hphotos-ak-xpf1\/t51.2885-19\/923788_362441083905653_451440564_a.jpg","id":"538328","full_name":""},"id":"1021351754005218696"},{"created_time":"1435977276","text":"Delish!!","from":{"username":"helenchikx","profile_picture":"https:\/\/igcdn-photos-e-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/11255077_560045520803316_1695274297_a.jpg","id":"182758340","full_name":"CH1K.com
        | Style \u0026 Travel"},"id":"1021373880703648921"},{"created_time":"1435978972","text":"\ud83d\ude4c","from":{"username":"salinachai","profile_picture":"https:\/\/igcdn-photos-d-a.akamaihd.net\/hphotos-ak-xaf[...]
